/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
	--ion-color-primary: #374D9B;
	--ion-color-primary-rgb: 55,77,155;
	--ion-color-primary-contrast: #f7f7f7;
	--ion-color-primary-contrast-rgb: 247,247,247;
	--ion-color-primary-shade: #304488;
	--ion-color-primary-tint: #4b5fa5;

	--ion-color-secondary: #2C396A;
	--ion-color-secondary-rgb: 44,57,106;
	--ion-color-secondary-contrast: #f7f7f7;
	--ion-color-secondary-contrast-rgb: 247,247,247;
	--ion-color-secondary-shade: #27325d;
	--ion-color-secondary-tint: #414d79;

	--ion-color-tertiary: #ce5e66;
	--ion-color-tertiary-rgb: 206,94,102;
	--ion-color-tertiary-contrast: #f7f7f7;
	--ion-color-tertiary-contrast-rgb: 247,247,247;
	--ion-color-tertiary-shade: #b5535a;
	--ion-color-tertiary-tint: #d36e75;

	--ion-color-success: #41D298;
	--ion-color-success-rgb: 65,210,152;
	--ion-color-success-contrast: #f7f7f7;
	--ion-color-success-contrast-rgb: 247,247,247;
	--ion-color-success-shade: #39b986;
	--ion-color-success-tint: #54d7a2;

	--ion-color-warning: #FC6350;
	--ion-color-warning-rgb: 252,99,80;
	--ion-color-warning-contrast: #f7f7f7;
	--ion-color-warning-contrast-rgb: 247,247,247;
	--ion-color-warning-shade: #de5746;
	--ion-color-warning-tint: #fc7362;

	--ion-color-danger: #CE5E66;
	--ion-color-danger-rgb: 206,94,102;
	--ion-color-danger-contrast: #f7f7f7;
	--ion-color-danger-contrast-rgb: 247,247,247;
	--ion-color-danger-shade: #b5535a;
	--ion-color-danger-tint: #d36e75;

	--ion-color-light: #f7f7f7;
	--ion-color-light-rgb: 247,247,247;
	--ion-color-light-contrast: #f7f7f7;
	--ion-color-light-contrast-rgb: 247,247,247;
	--ion-color-light-shade: #d9d9d9;
	--ion-color-light-tint: #f8f8f8;

	--ion-color-medium: #868585;
	--ion-color-medium-rgb: 134,133,133;
	--ion-color-medium-contrast: #f7f7f7;
	--ion-color-medium-contrast-rgb: 247,247,247;
	--ion-color-medium-shade: #767575;
	--ion-color-medium-tint: #929191;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #f7f7f7;
	--ion-color-dark-contrast-rgb: 247,247,247;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-color-recipe-servings: #374D9B;
	--ion-color-recipe-servings-rgb: 55,77,155;
	--ion-color-recipe-servings-contrast: #f7f7f7;
	--ion-color-recipe-servings-contrast-rgb: 247,247,247;
	--ion-color-recipe-servings-shade: #304488;
	--ion-color-recipe-servings-tint: #4b5fa5;

	--ion-color-recipe-prep-time: #2C396A;
	--ion-color-recipe-prep-time-rgb: 44,57,106;
	--ion-color-recipe-prep-time-contrast: #f7f7f7;
	--ion-color-recipe-prep-time-contrast-rgb: 247,247,247;
	--ion-color-recipe-prep-time-shade: #27325d;
	--ion-color-recipe-prep-time-tint: #414d79;

	--ion-color-recipe-cook-time: #FC6350;
	--ion-color-recipe-cook-time-rgb: 252,99,80;
	--ion-color-recipe-cook-time-contrast: #f7f7f7;
	--ion-color-recipe-cook-time-contrast-rgb: 247,247,247;
	--ion-color-recipe-cook-time-shade: #de5746;
	--ion-color-recipe-cook-time-tint: #fc7362;

	--ion-color-recipe-total-time: #41D298;
	--ion-color-recipe-total-time-rgb: 65,210,152;
	--ion-color-recipe-total-time-contrast: #f7f7f7;
	--ion-color-recipe-total-time-contrast-rgb: 247,247,247;
	--ion-color-recipe-total-time-shade: #39b986;
	--ion-color-recipe-total-time-tint: #54d7a2;
}

.app-custom-toolbar {
	background-color: #c52126 !important;
	/* Set your desired red color */
	--background: #c52126 !important;
	/* Ensure to set this custom property */
	color: #f7f7f7;
	/* Change text/icon color if necessary */
}

.app-toolbar-image {
	height: 30px;
	/* Set the desired height for your image */
	/* margin-left: auto;
	margin-right: auto; */
    /* justify-content: center;
    align-items: center;
	/* Center the image horizontally */
	display: flex;
	/* Make it a block-level element */
	padding-bottom: 5px;
}

.app-facebook-button {
	background-color: transparent !important;
	--background: tranparent !important;
	color: #3b5998;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-transform: capitalize;
	padding-bottom: 0px;
}

.app-margin-top {
	padding-top: 24px;
}

.app-loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: var(--ion-background-color, #fff);
}

.app-loading-spinner {
	width: 50px;
	height: 50px;
	color: var(--ion-color-medium);
}

.app-search-container {
	display: block;
	width: 96.5%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:  8px;
	border-radius: 8px;
	border: 1px solid #e5e5e5;
  }

  .app-list-heading {
	font-weight: bold;
	margin-bottom: 0px;
  }
  
  .app-list-subheading {
	margin-top: 0px;
	color: var(--ion-color-medium);
	font-size: 14px;
  }
  
  .app-search-input {
	border: none;
	background: transparent;
	flex-grow: 1;
	padding: 10px 8px 10px 8px;
	margin-left: 8px;
	font-size: 16px;
	outline: none;
	--placeholder-color: var(--ion-color-medium);
  	--placeholder-font-size: 16px;
  }
  
  .app-custom-search-icon {
	width: 24px;
	height: 24px;
	fill: darkgray;
	vertical-align: middle;
	margin-left: 16px;
  }

  .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	max-width: 13ch;
  }

  .truncate-characters {
	display: inline-block;
    white-space: nowrap;            /* Prevents wrapping */
    overflow: hidden;               /* Hides overflow content */
    text-overflow: ellipsis;        /* Adds ellipsis (...) when content overflows */
    max-width: 16ch;                /* Limits to approximately 20 characters */
}
  
  .truncate-multiline {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2;
	line-height: 1.2em;
	max-height: 3.6em;
  }

  .ion-color-recipe-servings {
	--ion-color-base: var(--ion-color-recipe-servings);
	--ion-color-base-rgb: var(--ion-color-recipe-servings-rgb);
	--ion-color-contrast: var(--ion-color-recipe-servings-contrast);
	--ion-color-contrast-rgb: var(--ion-color-recipe-servings-contrast-rgb);
	--ion-color-shade: var(--ion-color-recipe-servings-shade);
	--ion-color-tint: var(--ion-color-recipe-servings-tint);
}

.ion-color-recipe-prep-time {
	--ion-color-base: var(--ion-color-recipe-prep-time);
	--ion-color-base-rgb: var(--ion-color-recipe-prep-time-rgb);
	--ion-color-contrast: var(--ion-color-recipe-prep-time-contrast);
	--ion-color-contrast-rgb: var(--ion-color-recipe-prep-time-contrast-rgb);
	--ion-color-shade: var(--ion-color-recipe-prep-time-shade);
	--ion-color-tint: var(--ion-color-recipe-prep-time-tint);
}

.ion-color-recipe-cook-time {
	--ion-color-base: var(--ion-color-recipe-cook-time);
	--ion-color-base-rgb: var(--ion-color-recipe-cook-time-rgb);
	--ion-color-contrast: var(--ion-color-recipe-cook-time-contrast);
	--ion-color-contrast-rgb: var(--ion-color-recipe-cook-time-contrast-rgb);
	--ion-color-shade: var(--ion-color-recipe-cook-time-shade);
	--ion-color-tint: var(--ion-color-recipe-cook-time-tint);
}

.ion-color-recipe-total-time {
	--ion-color-base: var(--ion-color-recipe-total-time);
	--ion-color-base-rgb: var(--ion-color-recipe-total-time-rgb);
	--ion-color-contrast: var(--ion-color-recipe-total-time-contrast);
	--ion-color-contrast-rgb: var(--ion-color-recipe-total-time-contrast-rgb);
	--ion-color-shade: var(--ion-color-recipe-total-time-shade);
	--ion-color-tint: var(--ion-color-recipe-total-time-tint);
}